.text-input {
    width: 100%;
    padding: 8px 16px;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 12px;
    letter-spacing: 0.6px;
}

.error {
    border: 1px solid red;
}
